Repository Nuvoton-Israel/zephyr, pull requests merged in 2023-08, with the labels that each got.

#41 drivers: fiu: update npcm4xx uma flash program flow
  drivers/spi/spi_npcm4xx_fiu.c
Labels: area: SPI

#42 drivers: fiu: update npcm4xx uma flash program flow
  drivers/spi/spi_npcm4xx_fiu.c
Labels: area: SPI

#43 soc: npcm4xx: remove useless header file
  drivers/counter/counter_npcm4xx.c
  drivers/serial/uart_npcm4xx.c
  soc/arm/npcm4xx/common/NPCM4XX.h
Labels: area: Counter

#44 soc: npcm4xx: remove useless header file
  drivers/counter/counter_npcm4xx.c
  drivers/serial/uart_npcm4xx.c
  soc/arm/npcm4xx/common/NPCM4XX.h
Labels: area: Counter

#45 drivers: spip: add SPIP driver support for NPCM4XX
  boards/arm/npcm400f_evb/fun_def_list.h
  boards/arm/npcm400f_evb/npcm400f_evb.dts
  boards/arm/npcm400f_evb/npcm400f_evb_defconfig
  drivers/spi/CMakeLists.txt
  drivers/spi/Kconfig
  drivers/spi/Kconfig.npcm4xx_spip
  drivers/spi/spi_npcm4xx_spip.c
  dts/arm/nuvoton/npcm400f.dtsi
  dts/arm/nuvoton/npcm4xx/npcm4xx-pinctrl.dtsi
  dts/bindings/spi/nuvoton,npcm4xx-spip.yaml
  soc/arm/npcm4xx/common/reg/reg_def.h
  soc/arm/npcm4xx/npcm400f/sig_def_list.h
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: SPI

#46 drivers: spip: fix spip_npcm4xx_configure function bug
  drivers/spi/spi_npcm4xx_spip.c
Labels: area: SPI

#47 boards: npcm4xx: enable i2c device nodes
  boards/arm/npcm400f_evb/npcm400f_evb.dts
  dts/arm/nuvoton/npcm4xx.dtsi
Labels: area: Devicetree, area: Boards

#48 boards: npcm4xx: enable i2c device nodes
  boards/arm/npcm400f_evb/npcm400f_evb.dts
  dts/arm/nuvoton/npcm4xx.dtsi
Labels: area: Devicetree, area: Boards

#50 I3c controller driver
  .gitignore
  arch/arm/include/aarch32/cortex_m/stack.h
  boards/arm/npcm400f_evb/fun_def_list.h
  boards/arm/npcm400f_evb/npcm400f_evb.dts
  boards/arm/npcm400f_evb/npcm400f_evb_defconfig
  drivers/CMakeLists.txt
  drivers/Kconfig
  drivers/i3c/CMakeLists.txt
  drivers/i3c/Kconfig
  drivers/i3c/Kconfig.npcm4xx
  drivers/i3c/NPCM4XX/CMakeLists.txt
  drivers/i3c/NPCM4XX/api_i3c.c
  drivers/i3c/NPCM4XX/i3c_core.c
  drivers/i3c/NPCM4XX/i3c_master.c
  drivers/i3c/NPCM4XX/i3c_slave.c
  drivers/i3c/i3c_common.c
  drivers/i3c/i3c_npcm4xx.c
  dts/arm/nuvoton/npcm400f.dtsi
  dts/arm/nuvoton/npcm4xx/npcm4xx-pinctrl.dtsi
  dts/bindings/i3c/i3c-controller.yaml
  dts/bindings/i3c/nuvoton,npcm4xx-i3c.yaml
  include/drivers/i3c/NPCM4XX/api_i3c.h
  include/drivers/i3c/NPCM4XX/hal_I3C.h
  include/drivers/i3c/NPCM4XX/i3c_core.h
  include/drivers/i3c/NPCM4XX/i3c_drv.h
  include/drivers/i3c/NPCM4XX/i3c_master.h
  include/drivers/i3c/NPCM4XX/i3c_slave.h
  include/drivers/i3c/NPCM4XX/pub_I3C.h
  include/drivers/i3c/i3c.h
  soc/arm/npcm4xx/common/reg/reg_def.h
  soc/arm/npcm4xx/npcm400f/sig_def_list.h
  tests/boards/npcm400f_evb/CMakeLists.txt
  tests/boards/npcm400f_evb/dts/bindings/test,gpio_basic_api.yaml
  tests/boards/npcm400f_evb/prj.conf
  tests/boards/npcm400f_evb/src/ast_test.h
  tests/boards/npcm400f_evb/src/i3c.c
  tests/boards/npcm400f_evb/src/main.c
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: ARM, area: API

#51 drivers: usb: add usb device driver support for NPCM4XX series.
  boards/arm/npcm400f_evb/fun_def_list.h
  boards/arm/npcm400f_evb/npcm400f_evb.dts
  boards/arm/npcm400f_evb/npcm400f_evb_defconfig
  drivers/spi/spi_npcm4xx_spip.c
  drivers/usb/device/CMakeLists.txt
  drivers/usb/device/Kconfig
  drivers/usb/device/usb_dc_npcm4xx.c
  dts/arm/nuvoton/npcm400f.dtsi
  dts/arm/nuvoton/npcm4xx/npcm4xx-pinctrl.dtsi
  dts/bindings/usb/nuvoton,npcm4xx-usbd.yaml
  soc/arm/npcm4xx/common/reg/reg_def.h
  soc/arm/npcm4xx/npcm400f/sig_def_list.h
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: SPI

#52 boards: arm: npcm400f_evb: fixed compiler warnings.
  boards/arm/npcm400f_evb/npcm400f_evb_defconfig
Labels: area: Boards

#53 drivers: i2c: input address type from 8-bits to 7-bits
  drivers/i2c/i2c_npcm4xx.c
Labels: area: I2C
