Repository Nuvoton-Israel/zephyr, pull requests merged in 2023-06, with the labels that each got.

#6 soc: customize a cloned linker script from zephyr cortex_m
  include/arch/arm/aarch32/cortex_m/scripts/linker.ld
  soc/arm/npcm4xx/npcm400f/linker.ld
Labels: area: ARM, area: API

#12 drivers: interrupt_controller: add MIWU driver support in NPCM4XX.
  boards/arm/npcm400f_evb/npcm400f_evb_defconfig
  drivers/interrupt_controller/CMakeLists.txt
  drivers/interrupt_controller/Kconfig
  drivers/interrupt_controller/Kconfig.npcm4xx
  drivers/interrupt_controller/intc_npcm4xx_miwu.c
  dts/arm/nuvoton/npcm4xx.dtsi
  dts/arm/nuvoton/npcm4xx/npcm4xx-miwus-int-map.dtsi
  dts/arm/nuvoton/npcm4xx/npcm4xx-miwus-wui-map.dtsi
  dts/bindings/interrupt-controller/nuvoton,npcm4xx-miwu-int-map.yaml
  dts/bindings/interrupt-controller/nuvoton,npcm4xx-miwu-wui-map.yaml
  dts/bindings/interrupt-controller/nuvoton,npcm4xx-miwu.yaml
  soc/arm/npcm4xx/common/soc_dt.h
  soc/arm/npcm4xx/common/soc_gpio.h
  soc/arm/npcm4xx/common/soc_miwu.h
Labels: area: Devicetree, area: Devicetree Binding, area: Boards

#13 drivers: serial: support IRQ
  boards/arm/npcm400f_evb/npcm400f_evb.dts
  boards/arm/npcm400f_evb/npcm400f_evb_defconfig
  drivers/serial/Kconfig.npcm4xx
  drivers/serial/uart_npcm4xx.c
  dts/arm/nuvoton/npcm400f.dtsi
  soc/arm/npcm4xx/common/reg/reg_def.h
Labels: area: Devicetree, area: Boards

#14 drivers: gpio: add npcm4xx gpio driver
  boards/arm/npcm400f_evb/npcm400f_evb_defconfig
  drivers/gpio/CMakeLists.txt
  drivers/gpio/Kconfig
  drivers/gpio/Kconfig.npcm4xx
  drivers/gpio/gpio_npcm4xx.c
  drivers/interrupt_controller/intc_npcm4xx_miwu.c
  dts/arm/nuvoton/npcm4xx.dtsi
  dts/bindings/gpio/nuvoton,npcm4xx-gpio.yaml
  soc/arm/npcm4xx/common/reg/reg_def.h
  soc/arm/npcm4xx/npcm400f/sig_def_list.h
Labels: area: Devicetree, area: Devicetree Binding, area: Boards

#17 drivers: wdt: add watchdog driver support for NPCM4XX series.
  boards/arm/npcm400f_evb/npcm400f_evb_defconfig
  drivers/watchdog/CMakeLists.txt
  drivers/watchdog/Kconfig
  drivers/watchdog/Kconfig.npcm4xx
  drivers/watchdog/wdt_npcm4xx.c
  dts/arm/nuvoton/npcm400f.dtsi
  dts/arm/nuvoton/npcm4xx/npcm4xx-miwus-int-map.dtsi
  dts/bindings/watchdog/nuvoton,npcm4xx-watchdog.yaml
  soc/arm/npcm4xx/common/reg/reg_def.h
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: Watchdog

#18 driver: PECI: npcm4xx: add driver support for Nuvoton NPCM4XX family
  boards/arm/npcm400f_evb/fun_def_list.h
  boards/arm/npcm400f_evb/npcm400f_evb.dts
  boards/arm/npcm400f_evb/npcm400f_evb_defconfig
  drivers/clock_control/clock_control_npcm4xx.c
  drivers/peci/CMakeLists.txt
  drivers/peci/Kconfig
  drivers/peci/Kconfig.npcm4xx
  drivers/peci/peci_npcm4xx.c
  drivers/pinmux/npcm4xx/pinmux_npcm4xx.c
  dts/arm/nuvoton/npcm400f.dtsi
  dts/arm/nuvoton/npcm4xx/npcm4xx-pinctrl.dtsi
  dts/bindings/peci/nuvoton,npcm4xx-peci.yaml
  include/dt-bindings/clock/npcm4xx_clock.h
  soc/arm/npcm4xx/common/reg/reg_def.h
  soc/arm/npcm4xx/npcm400f/sig_def_list.h
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: API

#19 driver: ITIM: npcm4xx: add timer support for Nuvoton NPCM4XX family
  boards/arm/npcm400f_evb/npcm400f_evb_defconfig
  drivers/counter/CMakeLists.txt
  drivers/counter/Kconfig
  drivers/counter/Kconfig.npcm4xx
  drivers/counter/counter_npcm4xx.c
  dts/arm/nuvoton/npcm400f.dtsi
  dts/bindings/timer/nuvoton,npcm4xx-itim-timer.yaml
  samples/drivers/counter/alarm/src/main.c
  soc/arm/npcm4xx/common/reg/reg_def.h
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: Counter, area: Samples
