Repository Nuvoton-Israel/zephyr, pull requests merged in 2023-07, with the labels that each got.

#21 drivers: fiu: add fiu driver to support external flash
  boards/arm/npcm400f_evb/fun_def_list.h
  boards/arm/npcm400f_evb/npcm400f_evb.dts
  boards/arm/npcm400f_evb/npcm400f_evb_defconfig
  drivers/clock_control/clock_control_npcm4xx.c
  drivers/flash/CMakeLists.txt
  drivers/flash/Kconfig
  drivers/flash/Kconfig.multi_dev
  drivers/flash/jesd216.c
  drivers/flash/spi_nor.h
  drivers/flash/spi_nor_multi_dev.c
  drivers/spi/CMakeLists.txt
  drivers/spi/Kconfig
  drivers/spi/Kconfig.npcm4xx_fiu
  drivers/spi/spi_npcm4xx_fiu.c
  dts/arm/nuvoton/npcm4xx.dtsi
  dts/arm/nuvoton/npcm4xx/npcm4xx-pinctrl.dtsi
  dts/bindings/mtd/jedec,spi-nor-common.yaml
  dts/bindings/mtd/jedec,spi-nor.yaml
  dts/bindings/spi/nuvoton,npcm4xx-spi-fiu.yaml
  include/drivers/flash.h
  include/drivers/jesd216.h
  include/drivers/spi.h
  include/drivers/spi_nor.h
  soc/arm/npcm4xx/common/reg/reg_def.h
  soc/arm/npcm4xx/npcm400f/sig_def_list.h
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: API, area: SPI

#27 drivers: wdt: extend the watchdog timeout value.
  drivers/watchdog/Kconfig.npcm4xx
  drivers/watchdog/wdt_npcm4xx.c
  soc/arm/npcm4xx/common/reg/reg_def.h
Labels: area: Watchdog

#33 driver: ITIM: npcm4xx: fixed compiler warning and rename ITIM register
  drivers/counter/counter_npcm4xx.c
  soc/arm/npcm4xx/common/reg/reg_def.h
Labels: area: Counter

#34 drivers: wdt: rename watchdog register.
  drivers/watchdog/wdt_npcm4xx.c
  soc/arm/npcm4xx/common/reg/reg_def.h
Labels: area: Watchdog

#35 drivers: adc: add ADC driver support for NPCM4XX
  boards/arm/npcm400f_evb/fun_def_list.h
  boards/arm/npcm400f_evb/npcm400f_evb.dts
  boards/arm/npcm400f_evb/npcm400f_evb_defconfig
  drivers/adc/CMakeLists.txt
  drivers/adc/Kconfig
  drivers/adc/Kconfig.npcm4xx
  drivers/adc/adc_npcm4xx.c
  dts/arm/nuvoton/npcm400f.dtsi
  dts/arm/nuvoton/npcm4xx.dtsi
  dts/arm/nuvoton/npcm4xx/npcm4xx-pinctrl.dtsi
  dts/bindings/adc/nuvoton,npcm4xx-adc.yaml
  soc/arm/npcm4xx/common/reg/reg_def.h
  soc/arm/npcm4xx/npcm400f/sig_def_list.h
Labels: area: Devicetree, area: Devicetree Binding, area: Boards, area: ADC

#36 dts: npcm4xx: rename peci label
  dts/arm/nuvoton/npcm400f.dtsi
Labels: area: Devicetree

#39 drivers: adc: fix build break when enable shell feature
  drivers/adc/adc_shell.c
Labels: area: ADC
